# Files without extensions
*
!/**/
!*.*

!Makefile

# Compiled files
*.pyc
*.out
*.class
*.jar
*.pdf

# Java deps
programming/HW7/markup/MarkdownTest.java
programming/HW7/markup/ListTest.java
programming/HW7/markup/TexTest.java
programming/HW7/markup/TexListTest.java
programming/HW7/AbstractTest.java
programming/HW7/base/*

programming/HW9/markup/*

# Latex Make files
*.gz
*.log
*.fls
*.fdb_latexmk
*.aux
*.xdv


# Idea files
**/.idea/
*.plantuml

# Visual Studio Code files
.vscode/