# Files without extensions
*
!/**/
!*.*

!Makefile

# Compiled files
*.pyc
*.out
*.class
*.jar
/**/*.hi
/**/*.o

# Java tests
/**/base/*

# Latex Make files
*.gz
*.log
*.fls
*.fdb_latexmk
*.aux
*.xdv
_minted*
*.out
*.toc
/**/svg-inkscape

# Idea files
**/.idea/
*.plantuml
.gradle

# Visual Studio Code files
.vscode/

# emacs
eclimd.log
.metadata
^TAGS
.project
.classpath
*.iml
*.xmi
bin/
.settings
/**/#*#
/**/.#*

# build
target
/#Navigation.org#

# Temporaly
/**/.ipynb_checkpoints
/**/ltximg
/**/obipy-resources
/**/*.tex~
/**/*.synctex*
/build/

# Pdfs
/**/*.pdf
/**/*.tex