# Files without extensions
*
!/**/
!*.*

!Makefile

# Compiled files
*.pyc
*.out
*.class
*.jar

# Java tests
/**/base/*

# Latex Make files
*.gz
*.log
*.fls
*.fdb_latexmk
*.aux
*.xdv
*.el


# Idea files
**/.idea/
*.plantuml
.gradle

# Visual Studio Code files
.vscode/

# emacs
eclimd.log
.metadata
^TAGS
.project
.classpath
*.iml
*.xmi
bin/
.settings

# build
target
/#Navigation.org#
