[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "open-addressing-hash-test"]
	path = test
	url = https://github.com/itiviti-cpp-master/open-addressing-hash-test.git
